html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
   }

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 255), rgb(0, 100, 255) , rgb(0, 0, 100)90%); 
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}


@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

#menu {
    width: 100%;
    height:100px;   
    background: rgba(0, 0, 62, 0.2);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0 5px 50px rgb(0, 0, 50);
}

#estou_aqui {
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content:center ;
}

#img_home {
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
    height: 100px;
    cursor: pointer;
}

#usuario_d_login {
    position: absolute;
    right: 3%;
    top: 2px;
    display: flex;
    align-items: center;
    height: 100px;
}

#usuario_d_login img{
    width: 25px;
    margin-right: 5px;
}

#usuario_d_login h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#usuario_d_login a {
    color: wheat;
    text-decoration: none;
}
 
#usuario_d_login a {
    position:relative ;
    color: white;
    width:53px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid wheat;
    padding: 1px 5px;
    border-radius: 5px;
    margin-left: 5px;
    bottom: 4px;
}

#usuario_d_login a:hover {
    transition: 0.3s;
    transform: scale(1.1);
}


#img-logo {
    width: 250px;

    
}

section {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}

section img {
    width: 100px;
    filter: invert(1);

}

#marge {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#marge a {
    text-decoration: none;
}

.img-home {
    width: 170px;
    height: 160px;
    padding-top: 10px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px white;    
    text-align: center;

    background: linear-gradient(45deg, rgb(0, 0, 50)25%,rgb(0, 0, 255), rgb(0, 0, 50)75%);
    background-size: 300% 300%;
    animation: colors 8s ease infinite;
}

.img-home p {
    color: white;
    text-align: center;
    padding: 0;
}

.img-home:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.rodape{
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 0;
}
.rodape p{
    width: 100%;
    font-size: 11px;
    position: absolute;
    bottom: -11px;
    margin-left: 10px;
    text-align: center;
}


.rodape:hover {
    transition: 1s;
    background-color: gray;
    color: white;
}

